header{
    background: #bbbbbb;
    padding: 20px;
}
.caixa{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.inovalogo{
    height: 30px;
    width: 120px;
}
nav{
    position: absolute;
    top: 12px;
    right: 22px;
}
nav li{
    display: inline;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: 'Lucida Sans Regular';
}
nav a{
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.lista-comp li{
    display: inline-block;
    text-align: center;
    font-size: 25px;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 20px 30px;
    box-sizing: border-box;
    background: #CCCCCC;
}
.text-tipo-comp{
    font-family: 'Lucida Sans Regular';
    padding-bottom: 12px;
}
.text-titulo-inicial{
    font-size: 32px;
    text-align: center;
    margin: 2%;
    font-family: 'Lucida Sans Regular';
}
